<div class="gl-login">
    <div class="login-wrapper">
        <h1>Welcome</h1>

        <h2>Sign in to Goldlinks</h2>
        
        <form [formGroup]="loginForm">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input
                    formControlName="email"
                    matInput
                    placeholder="Insert your email"
                >
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input
                    type="password"
                    formControlName="password"
                    matInput
                    placeholder="Insert your username"
                >
            </mat-form-field>
        </form>

        <div class="form-buttons">
            <button mat-raised-button (click)="login()" [color]="'primary'">
                Sign In
            </button>
    
            <button mat-raised-button (click)="goToSignup()" >
                Sign Up
            </button>
        </div>


        <button mat-raised-button (click)="reset()">
            Reset Fields
        </button>
    </div>
</div>