<div class="gl-wrapper">

    <div class="gl-header">
        <app-gl-header>Grids</app-gl-header>
    </div>
    <div class="gl-sidebar">

        <div class="gl-sidebar-list">
            @for (gr of grids; track gr['id']; let wIdx = $index) {
                <div
                    class="gl-sidebar-list-item gl-box gl-box-hover"
                    (click)="setCurrentGrid(gr)"
                >
                    #{{ gr.id }} - {{ gr.name }}
                </div>
            }

            @empty {
                <div class="gl-sidebar-list-item gl-box gl-box-hover gl-empty">
                    {{
                        isGridListLoading
                        ? 'Loading...'
                        : 'No Grids'
                    }}
                </div>
            }
        </div>

        <div class="gl-sidebar-action gl-flex-center gl-box gl-box-hover"
            (click)="createGrid()"
        >
            <mat-icon fontIcon="add"></mat-icon> Create New Grid
        </div>

        <app-gl-menu></app-gl-menu>
    </div>
    <div class="gl-content gl-flex-center">
        <div class="gl-grid-wrapper gl-box">
            <h2>{{currentGridId ? 'Edit' : 'Create'}} Grid</h2>
            <form class="example-form" [formGroup]="form">
                <div class="gl-box gl-form-field">
                    <h3>Name</h3>
                    <mat-form-field>
                        <mat-label>Grid Name</mat-label>
                        <input formControlName="name" matInput>
                    </mat-form-field>
                </div>
                <h2>Cells</h2>
                <ng-container formArrayName="cells">
                    <ng-container *ngFor="let section of cells.controls; let faIdx = index">
                        <div class="gl-box">
                            <div [formGroupName]="faIdx" class="gl-flex-center">
                                <mat-form-field>
                                    <mat-label>Row Start</mat-label>
                                    <input formControlName="row_start" matInput>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Column Start</mat-label>
                                    <input formControlName="column_start" matInput>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Row End</mat-label>
                                    <input formControlName="row_end" matInput>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Column End</mat-label>
                                    <input formControlName="column_end" matInput>
                                </mat-form-field>
                                <span *ngIf="faIdx != 0" (click)="removeCellGroup(faIdx)">
                                    click to remove
                                </span>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </form>

            <button class="save-button" mat-raised-button (click)="createGrid()">Save Grid</button>
            <button class="save-button" mat-raised-button (click)="addCellGroup()">Add Cell</button>

            @if (currentGridId != null) {
                <button mat-raised-button (click)="deleteGrid()" color="warn">Delete Grid</button>
            }
        </div>
    </div>

</div>