<div class="gl-wrapper">

    <div class="gl-header gl-box gl-flex-center">
        <h1>Editor</h1>
    </div>
    <div class="gl-sidebar">

        <div class="gl-sidebar-list">
            @for (wi of widgets; track wi['id']; let wIdx = $index) {
                <div
                    class="gl-sidebar-list-item gl-box"
                    [id]="'wi-opt-' + wIdx"
                    [draggable]="true"
                    (dragstart)="onDragStart($event, wi)"
                >
                    {{ wi['type'] }}
                </div>
            }

            @empty {
                <div class="gl-sidebar-list-item gl-box">
                    {{
                        isWidgetListLoading
                        ? 'Loading...'
                        : 'No Widgets'
                    }}
                </div>
            }
        </div>

        <app-gl-menu></app-gl-menu>
    </div>
    <div class="gl-content gl-box">
        <div class="gl-grid-wrapper">
            @for (cell of cells; track cell.id; let cIdx = $index) {
                <div
                    [ngClass]="{
                        'gl-cell': true,
                        'gl-flex-center': true,
                        'gl-box': true
                    }"
                    [ngStyle]="{
                        'grid-area': cell.area
                    }"
                    (dragenter)="onDragEnter($event)"
                    (dragleave)="onDragLeave($event)"
                    (dragover)="onDragOver($event)"
                    (drop)="onDrop($event, cIdx)"
                >
                    @if (cell.widget != null) {
                        <div
                            class="gl-widget"
                            (click)="removeWidget(cIdx)"
                        >
                            <div class="gl-widget-header">
                                <h2>{{ cell?.widget?.type }}</h2>
                            </div>
                            <div class="gl-widget-content">
                                <span>
                                    {{ cell?.widget?.value }}
                                </span>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>        
    </div>

</div>